body {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke: #000;
}

.line, path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
